.bs-box {
	width:90px;
	height:90px;
	float: left;
	border-style:solid;
	border-width:2px;
	padding: 5px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background:#F0F8FF;
	border-radius:5px;
}

.bs-found {
	background:#FF1919;
	color: white;
	border-color:black;
}

#bs-container {
	width:312px;
	height:312px;
	position:fixed;
	top:0px;
    left:0px;
    z-index: 1000000;
	background: green;
	border-radius:5px;
}

#bs-menu {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
}

#sContent{
    width:160px;
	height:150px;
	background:pink;
    z-index:1000000;
	border-radius:5px;
}

#bs-button{
	margin-left: 5px;
	float:right;
	font-family: "Comic Sans MS", cursive, sans-serif;
/*	z-index: 1000000; */
}