.box {
	width:100px;
	height:100px;
	background:blue;
	color: white;
	float: left;
	border-style:solid;
	border-width:2px;
	border-color: white;
}

#container {
	width:312px;
	height:312px;
}
.found {
	background:white;
	color: blue;
}