.bs-box {
	width:90px;
	height:90px;
	float: left;
	border-style:solid;
	border-width:2px;
	padding: 5px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	background:#FFF0F0;
}

#bs-container {
	width:312px;
	height:312px;
	position:absolute;
	top:0px;
    left:0px;
    z-index: 1000000;
}

.bs-found {
	background:#FF1919;
	color: white;
	border-color:black;
}

#bs-button{
	float:right;
	border-style:solid;
	border-width:1px;
	background:#FFF0F0;
	border-radius:5px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	
}